<section class="totals sheet px-8" data-type="totals" data-overflow-scan>
    <%- include('header') %>

    <h3 class="heading font-bold text-lg">
        <%- section.title %>
    </h3>

    <%- include('footer', { page_number }) %>
</section>