<section class="info sheet px-8" data-type="info" data-overflow-scan>
    <%- include('header') %>

    <h3 class="heading font-bold text-lg">
        <%- section.title %>
    </h3>
    <hr class="mb-2">
    <div class="content">
        <%- section.description %>
    </div>

    <%- include('footer', { page_number }) %>
</section>