<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF Template</title>
  <link rel="stylesheet" href="/paper.css">
  <script src="/tailwind.js"></script>
</head>
<body class="A4">

    <style>
        body {
          font-family: Arial;
          font-size: 12px;
          overflow-x: hidden;
        }
    
        #cover-page-content {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
    
        #cover-page-logo {
          max-width: 250px;
        }
    
        .bg-primary {
          background-color: <%- proposal.theme.primary || 'grey' %>;
        }
        
        .debug {
            pointer-events: all;
        }
      </style>

      <%- include('partials/cover_page') %>


      <% proposal.sections.forEach( (section, page_number) => { %>
        <%- include(`partials/${section.type.toLowerCase()}`, { proposal, section, page_number }) %>
      <% }) %>

      <!-- {
        "prefix": "S-CPQ",
        "suffix": "",
        "logo": "default.svg",
        "currency": "AUD",
        "timezone": "Australia/Sydney",
        "date_format": "YYYY-MM-DD",
        "contactInformation": {
            "email": "contact@example.com",
            "phone": "+1-800-555-1234"
        },
        "address": {
            "street": "1234 Example St",
            "city": "Example",
            "state": "NSW",
            "postcode": "2000",
            "country": "Australia"
        },
        "defaultProposalSettings": {
            "expiry": 14,
            "tax": false,
            "taxRate": 10
        },
        "id": 1,
        "version": 1,
        "identifier": "10001",
        "title": "Software Development Project",
        "description": "This proposal outlines the details, timeline, and costs associated with the development of a responsive e-commerce website for ACME Solutions.",
        "status": "DRAFT",
        "customer": {
            "name": "ACME Solutions",
            "contact": {
                "firstName": "John",
                "lastName": "Doe"
            },
            "email": "",
            "phone": "",
            "address": {
                "street": "123 Main St",
                "city": "Anytown",
                "state": "CA",
                "postcode": "90210",
                "country": "United States"
            }
        },
        "sections": [
            {
                "id": 0,
                "title": "Cover Letter",
                "type": "COVER_LETTER",
                "order": 1,
                "recurrance": null,
                "description": "<p>We are pleased to present our proposal for the integration project aimed at streamlining data exchange and enhancing operational efficiency between [Platform A] and [Platform B]. Our approach focuses on delivering a robust, scalable, and secure integration solution that automates key processes, reduces manual effort, and ensures consistent, real-time data synchronization across both platforms.</p><p><br></p><h3>Project Goals and Benefits</h3><p><br></p><ol><li data-list=\"bullet\"><span class=\"ql-ui\" contenteditable=\"false\"></span><strong>Real-Time Data Synchronization:</strong> Ensuring information is consistently updated and accessible.</li><li data-list=\"bullet\"><span class=\"ql-ui\" contenteditable=\"false\"></span><strong>Enhanced Productivity:</strong> Automating workflows to minimize manual data entry.</li><li data-list=\"bullet\"><span class=\"ql-ui\" contenteditable=\"false\"></span><strong>Operational Efficiency:</strong> Reducing delays and errors through seamless communication between systems.</li></ol><p><br></p><h3>Approach and Methodology</h3><p><br></p><ol><li data-list=\"ordered\"><span class=\"ql-ui\" contenteditable=\"false\"></span><strong>Scalability and Flexibility: </strong>Using modern API-based communication, the integration will allow both platforms to interact seamlessly while retaining their core functionalities.</li><li data-list=\"ordered\"><span class=\"ql-ui\" contenteditable=\"false\"></span><strong>Security and Compliance: </strong>We will implement encryption, authentication protocols, and data integrity checks to protect sensitive information. The solution will adhere to relevant industry standards and data protection regulations.</li><li data-list=\"ordered\"><span class=\"ql-ui\" contenteditable=\"false\"></span><strong>Phased Deployment: </strong>To minimize disruption, the rollout will begin with smaller, non-critical use cases, followed by full-scale implementation once all systems are validated.</li><li data-list=\"ordered\"><span class=\"ql-ui\" contenteditable=\"false\"></span><strong>User Training and Support: </strong>Comprehensive training sessions and support materials will empower users to fully leverage the integrated system.</li></ol><p><br></p><h3>Deliverables</h3><p><br></p><ol><li data-list=\"bullet\"><span class=\"ql-ui\" contenteditable=\"false\"></span>A fully functional, API-driven integration between [Platform A] and [Platform B].</li><li data-list=\"bullet\"><span class=\"ql-ui\" contenteditable=\"false\"></span>Detailed documentation to support future maintenance and troubleshooting.</li><li data-list=\"bullet\"><span class=\"ql-ui\" contenteditable=\"false\"></span>A robust logging and error-handling mechanism for enhanced reliability.</li><li data-list=\"bullet\"><span class=\"ql-ui\" contenteditable=\"false\"></span>A phased implementation plan with clear milestones.</li></ol><p><br></p><p>Our integration solution will not only enhance the user experience but also provide valuable insights into the data exchanged between the platforms. We are confident this project will drive significant operational improvements and long-term value for your organization.</p><p><br></p><p>We look forward to the opportunity to discuss this proposal in more detail and answer any questions you may have.</p>",
                "isOptional": false,
                "isLocked": true,
                "isReference": false,
                "blockRemoval": true
            },
            {
                "id": 1,
                "title": "Project Overview",
                "type": "INFO",
                "order": 1,
                "recurrance": null,
                "description": "<p>The goal of this project is to establish a seamless integration between two distinct platforms to streamline data exchange and enhance operational efficiency. The integration will enable real-time synchronization of data across the platforms, ensuring that information is consistently updated and accessible between systems. This integration is aimed at improving workflows, reducing manual data entry, and increasing overall productivity by automating key processes.</p><p><br></p><p>The integration will be designed with scalability and flexibility in mind. It will leverage modern API-based communication methods, allowing both platforms to interact without disrupting existing functionalities. This will ensure that each platform retains its core features while benefiting from the enhanced capabilities provided by the integration. The project will also focus on ensuring robust error handling and logging mechanisms, enabling quick troubleshooting and minimal downtime.</p><p><br></p><p>Security is a key consideration throughout the integration process. We will implement encryption and authentication protocols to protect sensitive data as it is exchanged between the platforms. Data integrity checks will be incorporated to prevent discrepancies, and the integration will comply with relevant industry standards and regulations to ensure full compliance with data protection laws. Additionally, detailed documentation will be provided for future maintenance and troubleshooting.</p><p><br></p><p>To ensure a smooth transition and minimal disruption to business operations, the integration will be phased in gradually. Initial testing will focus on smaller, non-critical use cases, followed by full-scale deployment after ensuring all systems are functioning as expected. Training and support will also be provided to users to ensure they can fully leverage the new integrated system. By the end of the project, the integration will significantly enhance the user experience, drive operational efficiency, and provide valuable insights into the data flowing between the two platforms.</p>",
                "isOptional": false,
                "isLocked": false,
                "isReference": false,
                "blockRemoval": false
            },
            {
                "id": 5,
                "title": "Deployment & Operations",
                "type": "PRODUCTS",
                "order": 3,
                "recurrance": "ONE_TIME",
                "description": null,
                "isOptional": false,
                "isLocked": false,
                "isReference": false,
                "items": [
                    {
                        "id": 1,
                        "title": "",
                        "description": "<p><strong>Deployment &amp; Operations</strong></p>",
                        "order": 2,
                        "qty": 0,
                        "cost": 0,
                        "price": 0,
                        "margin": 0,
                        "subtotal": 0,
                        "sku": null,
                        "type": "COMMENT",
                        "isOptional": true
                    },
                    {
                        "id": 2,
                        "title": "Professional Services - System Setup",
                        "description": "<p><strong>This includes the following: </strong></p><p>- Designing and developing scalable and secure server-side applications.</p><p>- Integrating databases, APIs, and third-party services to enhance functionality.</p><p>- Ensuring high performance, reliability, and maintainability of backend systems.</p>",
                        "order": 1,
                        "qty": 40,
                        "cost": 50,
                        "price": 220,
                        "margin": 6800,
                        "subtotal": 8800,
                        "sku": "TT-1003",
                        "type": "PRODUCT",
                        "isOptional": false
                    }
                ],
                "blockRemoval": false
            },
            {
                "id": 2,
                "title": "Design and Development",
                "type": "PRODUCTS",
                "order": 2,
                "recurrance": "ONE_TIME",
                "description": null,
                "isOptional": false,
                "isLocked": false,
                "isReference": false,
                "items": [
                    {
                        "id": 4,
                        "title": "Technical Comment",
                        "description": "<p><strong>UX Design</strong></p>",
                        "order": 1,
                        "qty": 0,
                        "cost": 0,
                        "price": 0,
                        "sku": null,
                        "type": "COMMENT",
                        "isOptional": true,
                        "margin": 0,
                        "subtotal": 0
                    },
                    {
                        "id": 1,
                        "title": "Professional Services - UI/UX Design",
                        "description": "<p><strong>This includes the following:</strong></p><p>- Crafting intuitive user interfaces that enhance user engagement and accessibility.</p><p>- Conducting user research and usability testing to inform design decisions.</p><p>- Developing wireframes, prototypes, and design systems tailored to your brand identity.</p>",
                        "order": 3,
                        "qty": 40,
                        "cost": 50,
                        "price": 120,
                        "sku": "TT-1001",
                        "type": "PRODUCT",
                        "isOptional": false,
                        "margin": 2800,
                        "subtotal": 4800
                    },
                    {
                        "id": 4,
                        "title": "Technical Comment (Copy)",
                        "description": "<p><strong>Development</strong></p>",
                        "order": 2,
                        "qty": 0,
                        "cost": 0,
                        "price": 0,
                        "sku": null,
                        "type": "COMMENT",
                        "isOptional": true,
                        "margin": 0,
                        "subtotal": 0
                    },
                    {
                        "id": 5,
                        "title": "Professional Services - Frontend Development",
                        "description": "<p><strong>This includes the following:  </strong></p><p>- Building responsive and performant websites using modern frontend technologies.  </p><p>- Implementing seamless user interfaces that align with design specifications and functionality.  </p><p>- Optimizing code for cross-browser compatibility and high-quality user experiences.</p>",
                        "order": 4,
                        "qty": 120,
                        "cost": 50,
                        "price": 220,
                        "sku": "TT-1002",
                        "type": "PRODUCT",
                        "isOptional": true,
                        "margin": 20400,
                        "subtotal": 26400
                    },
                    {
                        "id": 3,
                        "title": "Professional Services - Backend Development",
                        "description": "<p><strong>This includes the following:  </strong></p><p>- Designing and developing scalable and secure server-side applications.  </p><p>- Integrating databases, APIs, and third-party services to enhance functionality.  </p><p>- Ensuring high performance, reliability, and maintainability of backend systems.</p>",
                        "order": 5,
                        "qty": 120,
                        "cost": 50,
                        "price": 220,
                        "sku": "TT-1003",
                        "type": "PRODUCT",
                        "isOptional": false,
                        "margin": 20400,
                        "subtotal": 26400
                    }
                ],
                "blockRemoval": false
            },
            {
                "id": 6,
                "title": "Hosting, Maintenance & Backups",
                "type": "PRODUCTS",
                "order": 0,
                "recurrance": "MONTHLY",
                "description": "",
                "isOptional": false,
                "isLocked": false,
                "blockRemoval": false,
                "items": [
                    {
                        "id": 0,
                        "sku": null,
                        "title": "",
                        "description": "<p><strong>Hosting</strong></p>",
                        "order": 1,
                        "qty": 0,
                        "cost": 0,
                        "price": 0,
                        "margin": 0,
                        "subtotal": 0,
                        "type": "COMMENT",
                        "isOptional": true
                    },
                    {
                        "id": 1,
                        "sku": "TT-VPS-STD-B4MS",
                        "title": "Microsoft Azure - VPS - Standard B4MS",
                        "description": "<p><strong>Specifications</strong></p><p>- 4x vCPU (Intel Xeon)</p><p>- 16GB System Memory</p><p>- 128GB Premium SSD Storage</p><p>- 100GB Bandwidth Per Month (0.25c Per GB over 100GB Limit)</p><p>- Linux Ubuntu 24.04.1 LTS Operating System</p><p>- Includes basic Microsoft support; supplemented by our managed support agreement</p><p><br></p><p><strong>Overview</strong></p><p>- General Purpose Compute; Ideal for web servers, proof of concepts, small databases, and development build environments. Best suited for workloads that do not require constant full CPU performance.</p>",
                        "order": 2,
                        "qty": 1,
                        "cost": 220.13,
                        "price": 325,
                        "margin": 104.87,
                        "subtotal": 325,
                        "type": "PRODUCT",
                        "isOptional": false
                    },
                    {
                        "id": 3,
                        "sku": "TTS-DNS-MANAGED",
                        "title": "Cloudflare - Managed DNS - Basic",
                        "description": "<p><strong>Specifications</strong></p><p>- Managed DNS for faster, more reliable domain resolution</p><p>- Built-in DDoS protection and enhanced security features to safeguard against malicious traffic</p><p>- Global content delivery network (CDN) to accelerate content delivery and reduce latency</p><p>- Serverless architecture to offload traffic, scale automatically, and reduce the need for manual infrastructure management</p><p>- Fast DNS resolution with low-latency global distribution</p><p>- Real-time insights into traffic patterns, DNS query metrics, and security alerts</p><p>- Unlimited DNS queries per month with no additional charges</p><p>- Load balancing capabilities to distribute traffic evenly across multiple servers, ensuring optimal performance during traffic spikes</p><p>- Reduced egress data costs by caching content at Cloudflare’s edge locations, minimizing the need for repeated data transfers from origin servers</p><p><br></p><p><strong>Overview</strong></p><p>The Cloudflare DNS Basic Plan offers a powerful solution by integrating fast and secure DNS management with robust security features, including DDoS protection and built-in CDN capabilities. This plan is ideal for websites, small businesses, and developers who want a reliable, scalable solution with enhanced security and performance. The global CDN ensures fast content delivery, while the serverless architecture allows automatic scaling without the need to manage servers. </p><p><br></p><p>Implementing this solution can improve load balancing by evenly distributing traffic across multiple servers, enhancing the performance of your application during periods of high demand. Additionally, Cloudflare’s caching at the edge reduces egress data costs by minimizing the need to transfer large amounts of data from your origin server. This makes it an excellent choice for users looking to optimize both performance and cost, ensuring that their systems run efficiently and securely without compromising on scalability.</p>",
                        "order": 4,
                        "qty": 1,
                        "cost": 5,
                        "price": 10,
                        "margin": 5,
                        "subtotal": 10,
                        "type": "PRODUCT",
                        "isOptional": false
                    },
                    {
                        "id": 2,
                        "sku": null,
                        "title": "",
                        "description": "<p><strong>Maintenance</strong></p>",
                        "order": 3,
                        "qty": 0,
                        "cost": 0,
                        "price": 0,
                        "margin": 0,
                        "subtotal": 0,
                        "type": "COMMENT",
                        "isOptional": true
                    },
                    {
                        "id": 4,
                        "sku": "TTS-VPS-MAINTENANCE",
                        "title": "Monthly Maintenance - Linux Virtual Private Server",
                        "description": "<p><strong>Specifications</strong></p><p>- Regular updates and patch management to ensure your server is secure and up-to-date</p><p>- System monitoring for performance, uptime, and resource usage (CPU, memory, storage, etc.)</p><p>- Troubleshooting and issue resolution for server-related problems</p><p>- Security audits to identify and address vulnerabilities</p><p>- Backups and disaster recovery setup, including regular snapshots and off-site backup solutions</p><p>- Optimization of server performance for speed and reliability</p><p>- Configuration management to ensure system settings align with best practices</p><p>- Proactive management of server services, including web servers, databases, and other critical applications</p><p>- Assistance with software installations, configurations, and troubleshooting</p><p><br></p><p><strong>Overview</strong></p><p>This ensures that your server is fully optimized, secure, and running at peak performance. With regular updates, proactive monitoring, and troubleshooting, we handle the technical aspects of your server management so you can focus on your business. Our maintenance service covers all critical components, including system security, performance optimization, and backup management, ensuring that your server operates smoothly and remains protected against emerging threats.</p>",
                        "order": 5,
                        "qty": 1,
                        "cost": 0,
                        "price": 100,
                        "margin": 100,
                        "subtotal": 100,
                        "type": "PRODUCT",
                        "isOptional": false
                    }
                ]
            },
            {
                "id": 3,
                "title": "Terms and Conditions",
                "type": "TERMS_AND_CONDITIONS",
                "order": 3,
                "recurrance": null,
                "description": "<p><strong>1. Scope of Work</strong></p><p>The Service Provider will perform the Services as described in the accompanying proposal (\"Proposal\"). Any additional work requested by the Client beyond the agreed scope will require a written change order and may incur additional costs.</p><p><br></p><p><strong>2. Project Timeline</strong></p><p>The timeline for delivery of the Services is outlined in the Proposal. While the Service Provider will make every effort to meet these timelines, they are estimates and may be adjusted due to unforeseen circumstances. Any changes will be communicated promptly to the Client.</p><p><br></p><p><strong>3. Payment Terms</strong></p><p><br></p><p>\t<u>3.1 Fees: </u></p><p>\tPayment terms, including fees, are outlined in the Proposal. All payments are due as specified in the payment schedule.</p><p><br></p><p>\t<u>3.2 Late Payments: </u></p><p>\tLate payments may be subject to a penalty of [X]% per month on the outstanding balance.</p><p><br></p><p>\t<u>3.3 Taxes:</u> </p><p>\tThe Client is responsible for all applicable taxes unless otherwise specified.</p><p><br></p><p><strong>4. Client Responsibilities</strong></p><p><br></p><p>The Client agrees to provide timely access to relevant personnel, systems, and information required for the execution of the Services. Approve or provide feedback on deliverables within agreed timelines. Ensure third-party dependencies (if any) are fulfilled.</p><p><br></p><p><strong>5. Ownership and Intellectual Property</strong></p><p><br></p><p>\t<u>5.1 Deliverables: </u></p><p>\tUpon full payment, ownership of the final deliverables will transfer to the Client. The Service Provider retains the right to use any pre-existing tools, libraries, or frameworks integrated into the deliverables.</p><p><br></p><p>\t<u>5.2 License: </u></p><p>\tAny software, frameworks, or libraries used by the Service Provider that are not custom-built remain the intellectual property of their respective owners.</p><p><br></p><p>\t<u>5.3 Service Provider IP: </u></p><p>\tThe Service Provider retains ownership of any proprietary methodologies, templates, or tools used in providing the Services.</p><p><br></p><p><strong>6. Confidentiality</strong></p><p>Both parties agree to maintain the confidentiality of all proprietary and sensitive information shared during the course of the project. Confidential information shall not be disclosed to third parties without prior written consent.</p><p><br></p><p><strong>7. Limitation of Liability</strong></p><p>The Service Provider’s total liability for any claims related to this Agreement will be limited to the fees paid by the Client for the Services. The Service Provider is not liable for indirect, incidental, or consequential damages arising from the use of deliverables or Services.</p><p><br></p><p><strong>8. Warranties and Representations</strong></p><p><br></p><p>\t<u>8.1 Service Provider: </u></p><p>\tThe Service Provider warrants that the Services will be performed in a professional and workmanlike manner.</p><p>\t</p><p>\t<u>8.2 Client: </u></p><p>\tThe Client warrants that any materials, content, or data provided for the Services are owned by the Client or that the Client has the necessary rights to use them.</p><p><br></p><p><strong>9. Termination</strong></p><p><br></p><p>\t<u>9.1 By Client: </u></p><p>\tThe Client may terminate the Agreement with 15 days' written notice. Fees for work completed up to the termination date will be invoiced and must be paid in full.</p><p><br></p><p>\t<u>9.2 By Service Provider: </u></p><p>\tThe Service Provider may terminate the Agreement if the Client fails to meet payment or other obligations under this Agreement, with 15 days' written notice.</p><p><br></p><p><strong>10. Force Majeure</strong></p><p>Neither party shall be held liable for delays or failure to fulfill obligations due to causes beyond their reasonable control, including but not limited to natural disasters, strikes, or government regulations.</p><p><br></p><p><strong>11. Dispute Resolution</strong></p><p>Any disputes arising from this Agreement shall first be resolved through good-faith negotiations. If a resolution cannot be reached, disputes will be submitted to binding arbitration under the rules of [Arbitration Organization].</p><p><br></p><p><strong>12. Governing Law</strong></p><p>This Agreement is governed by the laws of [Your Jurisdiction].</p><p><br></p><p><strong>13. Entire Agreement</strong></p><p>This Agreement constitutes the entire agreement between the parties and supersedes all prior agreements, representations, and understandings.</p><p><br></p><p><strong>14. Amendments</strong></p><p>Any amendments to this Agreement must be made in writing and signed by both parties.</p>",
                "isOptional": false,
                "isLocked": true,
                "isReference": false,
                "blockRemoval": true
            }
        ],
        "createdOnDate": "2024-12-17T12:20:45.250Z",
        "modifiedOnDate": "2024-12-29T11:34:13.817Z",
        "_totals": {
            "ONE_TIME": {
                "total": 40000,
                "margin": 30000,
                "cost": 150
            },
            "MONTHLY": {
                "total": 435,
                "margin": 209.87,
                "cost": 225.13
            }
        }
    } -->

  <script>

    const data = <%- JSON.stringify(proposal) %>
    window.addEventListener("DOMContentLoaded", () => {
        document.title = `${data.prefix}${data.prefix && '-'}${data.identifier}${data.suffix && '-'}${data.suffix}v${data.version} - ${data.title}`;
    })

    console.log(data);
  </script>

  <script src="/pageOverflowHandler.js"></script>

</body>
</html>
