<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF Template</title>
  <link rel="stylesheet" href="/paper.css">
  <script src="/tailwind.js"></script>
</head>
<body class="A4">

    <style>
        body {
          font-family: Arial;
          font-size: 12px;
          overflow-x: hidden;
        }
    
        #cover-page-content {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
    
        #cover-page-logo {
          max-width: 250px;
        }
    
        .bg-primary {
          background-color: <%- proposal.theme.primary || 'grey' %>;
        }
        
        .debug {
            pointer-events: all;
        }
      </style>

      <%- include('partials/cover_page') %>

      <% proposal.sections.forEach( (section, page_number) => { %>
        <%- include(`partials/${section.type.toLowerCase()}`, { proposal, section, page_number }) %>
      <% }) %>

  <script>

    const data = <%- JSON.stringify(proposal) %>
    window.addEventListener("DOMContentLoaded", () => {
        document.title = `${data.prefix}${data.prefix && '-'}${data.identifier}${data.suffix && '-'}${data.suffix}v${data.version} - ${data.title}`;
    })

    console.log(data);
  </script>

  <script src="/pageOverflowHandler.js"></script>

</body>
</html>
